.navbar{
    padding: 8px;
    text-align: center;
    position: relative;

    .options{
        position: absolute;
        left: 8px;

        a{
            padding: 8px;
            display: inline-block;
            color: white;
        }
    }

    .roptions{
        position: absolute;
        right: 8px;
        color:white;
    }
}

.sidenav{

   
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    margin: 0;
    z-index: 10000;
    overflow: hidden;
    
    .overlay{
        background: rgba(0, 0, 0, 0.612);
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        display: none;
        opacity: 0;
        
        -webkit-transition: opacity 0.5s; /* Safari */
        transition: opacity 0.5s;
    }

    ul{
        background: white;
        width: 70%;
        position: absolute;
        top: 0;
        left: -70%;
        bottom: 0;
        margin: 0;

        -webkit-transition: left 0.5s; /* Safari */
        transition: left 0.5s;
        overflow-x: auto;
    }

    &.show{
        width: 100%;
        .overlay{
            display: block;
            opacity: 1;
        }

        ul{
            
            left: 0%; 
        }
    }
}